body {
    font-family: 'Consolas';
    margin: 0;
    overflow: hidden;
}

.input{
    font-size: 35px;
    text-align: center;
    position: absolute;
    top: 15%;
    left: 50%;
    transform: translate(-50%);
    border-style: solid;
    border-radius: 6px;
}
.label{
    font-size: 45px;
    text-align: center;
    position: absolute;
    top: 8%;
    left: 50%;
    transform: translate(-50%);
}

.game {
    background: linear-gradient(0deg, rgba(47,230,50,1) 0%, rgba(215,237,238,1) 10%, rgba(21,229,233,1) 100%);
    width: 100vw;
    height: 100vh; 
}
#span{
    background-image: url("../images/instructions.png");
    background-size: cover;
    width: 450px;
    height: 350px;
}
h3 span{
    color: rgb(179, 16, 16);
    font-size: 120px;
}
h3 span1{
    color: rgb(103, 255, 2);
    font-size: 120px;
}

.start-screen {
    text-align: center;
    padding: 35px;
    font-size: 55px;
    width: 500px;
    background-color: #0942093b;
    position: absolute;
    left: 50%;
    top: 25%;
    transform: translate(-50%);
    border-style: solid;
    border-radius: 6px;
}

.start-screen:hover {
    background-color: rgba(9, 63, 9, 0.698);
    cursor: pointer;
    border-color: rgba(248, 44, 44, 0.472);
}
.start-btn {
    text-align: center;
    padding: 35px;
    font-size: 55px;
    width: 500px;
    background-color: #0942093b;
    position: absolute;
    left: 50%;
    top: 55%;
    transform: translate(-50%);
    border-style: solid;
    border-radius: 6px;
}
.start-btn:hover {
    background-color: rgba(9, 63, 9, 0.698);
    cursor: pointer;
    border-color: rgba(248, 44, 44, 0.472);
}

.game-screen {
    width: 100%;
    height: 100%;
    background: rgb(47,230,50);
    background: linear-gradient(0deg, rgba(47,230,50,1) 0%, rgba(215,237,238,1) 10%, rgba(21,229,233,1) 100%); 
}

.wizard {
    position: absolute;
    background-image: url("../images/1.png");
    background-size: cover;
    z-index: 1;
}

.bug {
    position: absolute;
    background-image: url("../images/man.png");
    background-size: cover;
    z-index: 1;
}
.spider{
    position: absolute;
    background-image: url("../images/spider.png");
    background-size: cover;
    z-index: 1;
}
.captan{
    position: absolute;
    background-image: url("../images/CA.png");
    background-size: cover;
    z-index: 1;
}
.ironBig{
    position: absolute;
    background-image: url("../images/ironBig.png");
    background-size: cover;
    z-index: 1;
}

.heart{
    position: absolute;
    background-image: url("../images/heart.png");
    background-size: cover;
    z-index: 1;
    font-size: 30px;
    text-align: center;
    color: yellow;
    animation: zoom-in-zoom-out 0.8s ease infinite;
}
@keyframes zoom-in-zoom-out {
    0% {
      transform: scale(1, 1);
    }
    50% {
      transform: scale(1.05, 1.05);
    }
    100% {
      transform: scale(0.95, 0.95);
    }
  }

  .points{
    position: absolute;
    background-image: url("../images/1Red.png");
    background-size: cover;
    z-index: 1;
    font-size: 30px;
    text-align: center;
    color: yellow;
    animation: zoom-in 1s ease infinite;
  }

  @keyframes zoom-in {
    0% {
      transform: scale(1, 1);
    }
    10% {
      transform: scale(1.4, 1.2);
    }
    20% {
      transform: scale(1.8, 1.4);
    }
    30% {
        transform: scale(2.2, 1.6);
      }
    40% {
        transform: scale(2.6, 1.8);
      }
    50% {
        transform: scale(3, 2);
      }
    60% {
        transform: scale(3.4, 2.2);
      }
    70% {
        transform: scale(3.8, 2.4);
      }
    80% {
        transform: scale(4.2, 2.6);
      }
    90% {
          transform: scale(4.6, 2.8);
        }
    1000% {
          transform: scale(5, 3);
        }
  }

.diamond{
    position: absolute;
    background-image: url("../images/diamond.png");
    background-size: cover;
    z-index: 1;
}

.fireball {
    position: absolute;
    background-image: url("../images/fire-ball.png");
    background-size: cover;
    z-index: 1;
}
.ironFireball {
    position: absolute;
    background-image: url("../images/fireIron.png");
    background-size: cover;
    z-index: 1;
}
.captanFireball {
    position: absolute;
    background-image: url("../images/shield.png");
    background-size: cover;
    z-index: 1;
}

.hidden {
    display: none;
}

.score {
    position: absolute;
    top: 10px;
    left: 90%;
    transform: translate(-50%);
    text-align: center;
    padding-left: 45px;
    padding-bottom: 45px;
    padding-right: 45px;
    font-size: 35px;
    width: 200px;
    background-color: #0942093b;
    border-style: solid;
    border-radius: 6px;
}

.progress-red {
    position: absolute;
    background-image: url("../images/progressRed.png");
    background-size: cover;
    border-radius: 2px;
    text-align: center;
}
.progress-green {
    position: absolute;
    background-image: url("../images/progressGreen.png");
    background-size: cover;
    border-radius: 2px;

}
.progress-yello {
    position: absolute;
    background-image: url("../images/progressYello.png");
    background-size: cover;
    border-radius: 2px;
}
.progress-empty{
    position: absolute;
    background-image: url("../images/progressEmpty.png");
    background-size: cover;
    background-color: #0942093b;
    border:1px solid;
    border-radius: 2px;
}
.health{
    position: absolute;
    top: 10px;
    left: 73%;
    transform: translate(-50%);
    text-align: center;
    padding-left: 45px;
    padding-bottom: 45px;
    padding-right: 45px;
    font-size: 35px;
    width: 200px;
    background-color: #0942093b;
    border-style: solid;
    border-radius: 6px;
}
.collectables{
    position: absolute;
    top: 10px;
    left: 10%;
    transform: translate(-50%);
    text-align: center;
    font-size: 35px;
    padding-left: 20px;
    padding-right: 20px;
    width: 226px;
    height: 174px;
    background-color: #0942093b;
    border-style: solid;
    border-radius: 6px;
}
.diamondCount{
    margin: 10px;
    background-image: url("../images/diamond.png");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: right;
    width: 80px;
    height: 47px;
    position: absolute;
    top: 25%;
    left: 10%;

 }
.heartCount{
    margin: 10px;
    background-image: url("../images/heart.png");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: right;
    width: 80px;
    height: 47px;
    position: absolute;
    top: 25%;
    left: 50%;
}
.spiderCount{
    margin: 10px;
    background-image: url("../images/spider2.png");
    background-repeat: no-repeat;
    background-size: auto;
    text-align: right;
    width: 80px;
    height: 47px;
    position: absolute;
    top: 55%;
    left:  10%; 

}
h3{
    text-align: center;
    padding: 40px;
    font-size: 64px;
    width: 980px;
    background-color: #0942093b;
    position: absolute;
    left: 50%;
    top: 5%;
    transform: translate(-50%);
    border-style: solid;
    border-radius: 6px;
}
.cloud{
    position: absolute;
    background-image: url("../images/cloud.png");
    background-size: cover;
}
.tree1{
    position: absolute;
    background-image: url("../images/tree1.png");
    background-size: cover;
}
.tree2{
    position: absolute;
    background-image: url("../images/tree2.png");
    background-size: cover;
}
